.codehilite pre {
    color: black;
    background: red;    
  }
.codehilite .hll { background-color: yellow }
.codehilite .ch { color: #000080 } /* Comment.Hashbang */
.codehilite .c1 { color: green } /* Comment.Single */

.codehilite div {
    background: red;
  }
